<header id="header">
	<div class="nvbt" style="visibility:hidden"></div>
	<div class="nvtt">My Drawer</div>
	<img ng-click="goToNewItemPage()" style="vertical-align: middle;" src="./img/plus.png"/>
</header>
<div id="content" class="content">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell" ng-repeat="item in itemList track by $index">
			<div class="mui-slider-right mui-disabled" ng-click="deleteItem($index)">
				<a class="mui-btn mui-btn-red">删除</a>
			</div>
			<table class="mui-slider-handle">
				<tr>
					<td class="list-table-imgTd">
						<img class="list-table-img" ng-src="{{item.picPath}}" ng-click="previewImage(item.picPath)"/>			
					</td>
					<td class="list-table-descriptionTd">
						<p style="padding: 0; margin: 0;">{{item.date}}</p>
						<p style="padding: 0; margin: 0;">{{item.description}}</p>
					</td>
				</tr>
			</table>
		</li>
	</ul>
</div>