<div id="content" class="content">
	<table style="width: 100%;">
		<tr>
			<td style="padding:5px; padding-top:10px;">
				<button style="float:left;" class="colorBkCancel" ng-click="">取消</button>
				<button style="float:right;" class="colorBkSure" ng-click="">保存</button>
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;">
				<textarea ng-model="newItem.description" style="border: 1px solid #F1F1F1;resize: none;width: calc(100% - 5px);height: 140px;"></textarea>
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;">
				<img ng-click="getImage()" style="width: 100%;"
					src="./img/plus.png" class="newItem-addImg" alt="添加图片"/>
			</td>
		</tr>
	</table>
</div>
