<header id="header">
	<div class="nvbt" ng-click="cancel()">
		<img style="vertical-align: middle;" src="./img/back.png"/>
	</div>
	<div class="nvtt">My Drawer</div>
	<img ng-click="save()" style="vertical-align: middle;" src="./img/save.png"/>
</header>
<div id="content" class="content">
	<table style="width:100%;">
		<tr>
			<td class="newItem-firstTd">
				<textarea id="textarea" rows="5" placeholder="描述" ng-model="newItem.description"></textarea>
			</td>
		</tr>
		<tr>
			<td class="newItem-secondTd">
				<input class="newItem-secondTd-input" placeholder="未选择图片" ng-model="newItem.picName" disabled></input>
				<div class="newItem-secondTd-div">
					<button style="float: left;" ng-click="getImage()">拍摄新照片</button>
					<button style="float: right;" ng-click="galleryImg()">从相册选择</button>
					<div style="clear: both;"></div>
				</div>
			</td>
		</tr>
	</table>
</div>
