<header id="header">
	<div id="back" class="nvbt iback" ng-click="cancel()"></div>
	<div class="nvtt">My Drawer</div>
	<div class="nvbt" ng-click="save()" style="font-size:14px;">保存</div>
</header>
<div id="content" class="content">
	<table style="width:100%;">
		<tr>
			<td class="newItem-td">
				<textarea id="textarea" rows="5" placeholder="描述" ng-model="newItem.description"></textarea>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px 10px 0px 10px;">
				<input style="width: 100%;height: 44px; border: none;" placeholder="未选择图片" ng-model="newItem.picPath" disabled></input>
				<div style="padding-bottom: 10px; padding-top: 10px;">
					<button style="float: left;" ng-click="getImage()">拍摄新照片</button>
					<button style="float: right;" ng-click="galleryImg()">从相册选择</button>
					<div style="clear: both;"></div>
				</div>				
			</td>
		</tr>
	</table>
</div>
